[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-bootstrap = "*"
"flask-boto3" = "*"
flask-caching = "*"
flask-login = "*"
flask-wtf = "*"
rauth = "*"
raven = {extras = ["flask"]}


[dev-packages]

zappa = "*"
