{% extends "_template.html" %}

{% block title %}Nextzen Developers - Your API Keys{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
<script type="text/javascript">
  $(function () {
    var clipboards = new Clipboard('.btn');
    $('[data-toggle="tooltip"]').tooltip({
      placement: "bottom",
      trigger: "click"
    });
    $('[data-toggle="tooltip"]').on('mouseleave', function () {
      $(this).tooltip('hide');
    });
    $("time[data-format]").each(function () {
      var el = $(this);
      var dt = moment(el.attr("datetime"));
      el.text(dt.format(el.data("format")));
    });
  })
</script>
{% endblock %}

{% block container %}
{{ super() }}
<div class='page-header'>
    <h3>API Keys</h3>
</div>

{%- with messages = get_flashed_messages(with_categories=True) %}
{%- if messages %}
<div class="row">
  {{utils.flashed_messages(messages)}}
</div>
{%- endif %}
{%- endwith %}

{% for key in current_user.api_keys.values() %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">API Key <code id="api_key">{{ key.api_key }}</code><button class="btn" data-clipboard-text="{{ key.api_key }}" data-toggle="tooltip" data-placement="bottom" data-trigger="click" title="Copied to clipboard!"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Created At</dt>
      <dd><time datetime="{{ key.created_at | from_millis | nice_datetime }}" data-format="MMMM D, YYYY h:mm A">{{ key.created_at | from_millis | nice_datetime }}</time></dd>
    </dl>
    {% if key.name %}
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ key.name }}</dd>
    </dl>
    {% endif %}
    <dl class="dl-horizontal">
      <dt>Status</dt>
    {% if key.enabled %}
      <dd><span class="label label-success">Enabled</span></dd>
    {% else %}
      <dd><span class="label label-warning">Disabled</span></dd>
    {% endif %}
    </dl>
    <dl class="dl-horizontal">
      <dt>Allowed Origins</dt>
      {% if key.allowed_origins %}
      <dd>{{ ', '.join(key.allowed_origins) }}</dd>
      {% else %}
      <dd><em>Allow all</em></dd>
      {% endif %}
    </dl>
    <a class="btn btn-default" role="button" href="{{ url_for('apikey.show', apikey=key.api_key) }}">✍ Edit this key</a>
  </div>
</div>
{% else %}
<div class="alert alert-info" role="alert">You have no API keys.</div>
{% endfor %}

<form method="POST" action="{{ url_for('apikey.create') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button class="btn btn-default" type="submit">Create a new API key</button>
</form>
{% endblock %}
