{% extends "_template.html" %}

{% block title %}Nextzen Developers - Your API Keys{% endblock %}

{% block container %}
{{ super() }}
<div class='page-header'>
    <h3>API Keys</h3>
</div>

{%- with messages = get_flashed_messages(with_categories=True) %}
{%- if messages %}
<div class="row">
  {{utils.flashed_messages(messages)}}
</div>
{%- endif %}
{%- endwith %}

{% for key in current_user.api_keys.values() %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{{ url_for('apikey.show', apikey=key.api_key) }}">✎ API Key <code>{{ key.api_key }}</code></a></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Created At</dt>
      <dd>{{ key.created_at }}</dd>
    </dl>
    {% if key.name %}
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ key.name }}</dd>
    </dl>
    {% endif %}
    <dl class="dl-horizontal">
      <dt><a href="{{ url_for('apikey.show', apikey=key.api_key) }}">Edit key name and allowed referers</a></dt>
    </dl>
  </div>
</div>
{% else %}
<div class="alert alert-info" role="alert">You have no API keys.</div>
{% endfor %}

<form method="POST" action="{{ url_for('apikey.create') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button class="btn btn-default" type="submit">Create a new API key</button>
</form>
{% endblock %}
