{% extends "_template.html" %}

{% block title %}Nextzen Developers - User Admin For {{ user.get_id() }}{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
<script type="text/javascript">
  $(function () {
    $("time[data-format]").each(function () {
      var el = $(this);
      var dt = moment(el.attr("datetime"));
      el.text(dt.format(el.data("format")));
    });
  })
</script>
{% endblock %}

{% block container %}
{{ super() }}

{%- with messages = get_flashed_messages(with_categories=True) %}
{%- if messages %}
<div class="row">
  {{utils.flashed_messages(messages)}}
</div>
{%- endif %}
{%- endwith %}

<h3>User {{ user.email or user.get_id() }}</h3>

<p>GitHub User <a href="https://api.github.com/user/{{ user.github_id }}">{{ user.github_id }}</a> created this account at <time datetime="{{ user.created_at | nice_datetime }}" data-format="MMMM D, YYYY h:mm A">{{ user.created_at | nice_datetime }}</time>.</p></p>

{% for key in user.api_keys.values() %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">API Key <code id="api_key">{{ key.api_key }}</code></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Created At</dt>
      <dd><time datetime="{{ key.created_at | from_millis | nice_datetime }}" data-format="MMMM D, YYYY h:mm A">{{ key.created_at | from_millis | nice_datetime }}</time></dd>
    </dl>
    {% if key.name %}
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ key.name }}</dd>
    </dl>
    {% endif %}
    <dl class="dl-horizontal">
      <dt>Status</dt>
      <dd>
          {% if key.enabled %}<span class="label label-success">Enabled</span>{% else %}<span class="label label-warning">Disabled</span>{% endif %}
          {% if key.admin_locked %}<span class="label label-error">Admin Locked</span>{% endif %}
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Allowed Origins</dt>
      {% if key.allowed_origins %}
      <dd>{{ ', '.join(key.allowed_origins) }}</dd>
      {% else %}
      <dd><em>Allow all</em></dd>
      {% endif %}
    </dl>
    <a class="btn btn-default" role="button" href="{{ url_for('admin.show_key', apikey=key.api_key) }}">✍ Edit this key</a>
  </div>
</div>
{% else %}
<div class="alert alert-info" role="alert">This user has no API keys.</div>
{% endfor %}

{% endblock %}
