{% extends "_template.html" %}

{% block title %}Nextzen Developers - User Admin For {{ user.get_id() }}{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
<script type="text/javascript">
  $(function () {
    $("time[data-format]").each(function () {
      var el = $(this);
      var dt = moment(el.attr("datetime"));
      el.text(dt.format(el.data("format")));
    });
  })
</script>
{% endblock %}

{% block container %}
{{ super() }}

{%- with messages = get_flashed_messages(with_categories=True) %}
{%- if messages %}
<div class="row">
  {{utils.flashed_messages(messages)}}
</div>
{%- endif %}
{%- endwith %}

<h3>User {{ user.email or user.get_id() }}</h3>

<p>GitHub User <a href="https://api.github.com/user/{{ user.github_id }}">{{ user.github_id }}</a> created this account at <time datetime="{{ user.created_at | nice_datetime }}" data-format="MMMM D, YYYY h:mm A">{{ user.created_at | nice_datetime }}</time>.</p></p>

<div class="form-group">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Lock This User</h3>
    </div>
    <div class="panel-body">
    {% if user.admin_locked %}
      <p class="help-block">This user was locked at <time datetime="{{ user.admin_lock_at | nice_datetime }}" data-format="MMMM D, YYYY h:mm A">{{ user.admin_lock_at | nice_datetime }}</time> by user <a href="{{ url_for('admin.show_user', userid=user.admin_lock_user) }}"><strong>{{ user.admin_lock_user }}</strong></a>, who gave the reason: <em>{{ user.admin_lock_reason }}</em>. Please check with other admins before unlocking it.</p>
      <button class="btn btn-danger" type="submit" name="action" value="admin_unlock">Unlock</button>
    {% else %}
      <p class="help-block">Locking is an action that can only be taken by an administrator. A locked user cannot create new API keys. They can still make changes to existing keys, though. Note that this will not disable any of the user's keys.</p>
      <div class="form-group">
        <label for="lock-reason">Reason</label>
        <input type="text" class="form-control" id="lock-reason" name="user_lock_reason" placeholder="Enter a brief reason for the lock">
      </div>
      <button class="btn btn-danger" type="submit" name="action" value="admin_lock">Lock</button>
    {% endif %}
    </div>
  </div>
</div>

<h4>User's API Keys</h4>

<form method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="form-group">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Manipulate This User's API Keys</h3>
      </div>
      <div class="panel-body">
        <h5>Enable/Disable All Keys</h5>
        <p class="help-block">You can enable or disable all of this user's API keys at once. Disabled API keys will reject traffic.</p>
        <div class="form-group">
          <button class="btn btn-danger" type="submit" name="action" value="disable_keys">Disable Keys</button>
          <button class="btn btn-success" type="submit" name="action" value="enable_keys">Enable Keys</button>
        </div>

        <h5>Lock/Unlock All Keys</h5>
        <p class="help-block">You can lock or unlock all of this user's API keys at once. A user cannot enable a locked key.</p>
        <div class="form-group">
          <label for="lock-reason">Reason</label>
          <input type="text" class="form-control" id="lock-reason" name="key_lock_reason" placeholder="Enter a brief reason for the lock">
        </div>
        <div class="form-group">
          <button class="btn btn-danger" type="submit" name="action" value="lock_keys">Lock Keys</button>
          <button class="btn btn-success" type="submit" name="action" value="unlock_keys">Unlock Keys</button>
        </div>
      </div>
    </div>
  </div>
</form>

{% for key in user.api_keys.values() %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">API Key <code id="api_key">{{ key.api_key }}</code></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Created At</dt>
      <dd><time datetime="{{ key.created_at | from_millis | nice_datetime }}" data-format="MMMM D, YYYY h:mm A">{{ key.created_at | from_millis | nice_datetime }}</time></dd>
    </dl>
    {% if key.name %}
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ key.name }}</dd>
    </dl>
    {% endif %}
    <dl class="dl-horizontal">
      <dt>Status</dt>
      <dd>
        {% if key.enabled %}<span class="label label-success">Enabled</span>{% else %}<span class="label label-warning">Disabled</span>{% endif %}
        {% if key.admin_locked %}<span class="label label-danger">Admin Locked</span>{% endif %}
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Allowed Origins</dt>
      {% if key.allowed_origins %}
      <dd>{{ ', '.join(key.allowed_origins) }}</dd>
      {% else %}
      <dd><em>Allow all</em></dd>
      {% endif %}
    </dl>
    <a class="btn btn-default" role="button" href="{{ url_for('admin.show_key', apikey=key.api_key) }}">✍ Edit this key</a>
  </div>
</div>
{% else %}
<div class="alert alert-info" role="alert">This user has no API keys.</div>
{% endfor %}

{% endblock %}
