{% extends "_template.html" %}

{% block container %}
{{ super() }}
<div class="jumbotron">
    <h1>Vector Tiles</h1>
    <p class="lead">Simple vector tiles for your map, from the open Tilezen project.</p>
    {% if current_user.is_anonymous %}
    <p><a class="btn btn-lg btn-success" href="{{ url_for('auth.login') }}" role="button">Sign up today</a></p>
    {% else %}
    <p><a class="btn btn-lg btn-success" href="{{ url_for('apikey.mine') }}" role="button">View my keys</a></p>
    {% endif %}
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Miss Mapzen's Vector Tiles?</h4>
        <p>Tilezen is the industrial strength open software that powered Mapzen's Vector Tiles.</p>

    </div>

    <div class="col-lg-6">
        <h4>Beautiful Basemaps</h4>
        <p>From Bubble Wrap to Refill and Walkabout beautiful map styles pair with Tilezen's data schema.</p>

    </div>
</div>

<footer class="footer">
<p>&copy; 2018 Nextzen</p>
</footer>
{% endblock %}
